<!DOCTYPE html>
<html>
    <head>
        <title>Landing page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Landing page</h1>
    </body>
</html>